.book {
    width: 500px;
    height: 750px;

    .paper {
        position: absolute;
        margin-left: 100px;
        background-color: pink;
        height: inherit;
        width: inherit;
    }

    .spine {
        position: absolute;
        background-color: darkblue;
        height: inherit;
        width: 100px;
    }

    .cover {
        position: absolute;
        margin-left: 100px;
        background-color: blue;
        height: inherit;
        width: inherit;

        &:hover {
            transform: rotateY(180deg);
            transform-origin: left;
            transition: transform 2s;
        }
    }
}