.book {
    width: 500px;
    height: 750px;

    .paper {
        position: absolute;
        margin-left: 100px;
        background-color: pink;
        height: inherit;
        width: inherit;
    }

    .spine {
        position: absolute;
        background-color: darkblue;
        height: inherit;
        width: 100px;
    }

    .cover {
        position: absolute;
        margin-left: 100px;
        background-color: blue;
        height: inherit;
        width: inherit;
        
        transition: transform 1s ease-out;
        transform-origin: left;
        transform-style: preserve-3d;

        &.opening {
            transform: rotateY(180deg);
        }
    }
}