$header-footer_height: 3em;
$sidebar_width: 11em;
$sidebar-phone_width: 3em;

#wrapper {
    display: grid;
    grid-template-rows: $header-footer_height 1fr $header-footer_height;
    grid-template-columns: 1fr minmax(10%, 960px) 1fr;
    /* grid-template: $header-footer_height 1fr $header-footer_height / 1fr 960px 1fr; */
}

#header {
    grid-area: 1 / 2 / 2 / 3;
    border-bottom: 1px solid lightgray;
}

#footer {
    grid-area: 3 / 2 / 4 / 3;
    border-top: 1px solid lightgray;
}

.banner {
    background: whitesmoke;

    a {
        display: inline-block;
        height: 100%;
        width: 11em;
        text-align: center;
        line-height: $header-footer_height * 0.9;
        color: initial;
        text-decoration: none;

        @media only screen and (max-width: 640px) {
            width: 7em;
        }
    }
}

#main {
    grid-area: 2 / 2 / 3 / 3;
    background: whitesmoke;

    #split {
        display: grid;
        grid-template: 1fr / 11em 1fr;

        @media only screen and (max-width: 640px) {
            grid-template-rows: 1fr;
            grid-template-columns: $sidebar-phone_width 1fr;
        }
        
        .sidebar {
            grid-area: 1 / 1 / 2 / 2;
            border-right: 1px solid lightgray;
            background: lightgray;
            font-weight: normal;

            &_title {
                @media only screen and (max-width: 640px) {
                    visibility: collapse;
                }

                &__phone {
                    visibility: collapse;

                    @media only screen and (max-width: 640px) {
                        visibility: visible;
                    }
                }
            }

            h2 {
                text-align: center;                
            }

            li {
                margin-bottom: 0.5em;
            }
            li a {
                color: black;
                text-decoration-style: -moz-none;
            }
            li.current {
                font-weight: bold;
            }    
            li.previous {
                color: #505050;
                a {
                    color: #505050;
                }
            }

            display: flex;
            flex-direction: column;

            counter-reset: c;

            &_button {
                width: 100%;
                height: 4em;
                display: flex;
                text-decoration: none;
                color: initial;

                &_num {
                    width: 3em;
                    text-align: right;
                    margin: auto;

                    &::before {
                        content: counter(c, upper-roman) '.';
                        counter-increment: c;
                        margin-right: 0.5em;

                        margin: auto 1em auto auto;
                        line-height: 3em;

                        font-family: 'Playfair Display', serif;

                        @media only screen and (max-width: 640px) {
                            margin: auto;
                            content: counter(c, upper-roman);
                        }
                    }

                    @media only screen and (max-width: 640px) {
                        text-align: center;
                        width: $sidebar-phone_width;
                        height: $sidebar-phone_width;
                    }
                }

                &_title {
                    margin: auto 1em auto auto;
                    width: $sidebar_width - 4em;
                    text-align: left;

                    @media only screen and (max-width: 640px) {
                        visibility: collapse;
                    }
                }

                @media only screen and (max-width: 640px) {
                    height: $sidebar-phone_width;
                }

                &.current {
                    background-color: lightslategray;
                    font-weight: bold;
                }

                &.previous {
                    color: #505050;
                }
            }

            &__phone {
                background: pink;
                visibility: hidden;
                display: flex;
                flex-direction: column;

                /* @media only screen and (max-width: 640px) {
                    visibility: visible;
                } */

                counter-reset: c;

                &_button {
                    width: 100%;
                    height: $sidebar-phone_width;
                    text-align: center;
                    text-decoration: none;
                    line-height: $sidebar-phone_width;
                    color: initial;
                }

                &_button::before {
                    content: counter(c, lower-roman);
                    counter-increment: c;
                }
            }
        }
        #content {
            grid-area: 1 / 2 / 2 / 3;
            background: whitesmoke;
            min-height: 600px;

            .button {
                appearance: button;
                -moz-appearance: button;

                text-decoration: none;
                color: initial;
                padding: 0.2em;
            }
            .next {
                float: left;
            }
            .prev {
                float: right;
            }
        }
    }

    img {
        max-width: 100%;
    }
}

.textcontainer {
    padding: 1em;
}