#wrapper {
    display: grid;
    grid-template: 2.5em 1fr 2.5em / 1fr 960px 1fr;
}

#header {
    grid-area: 1 / 2 / 2 / 3;
    border-bottom: 1px solid lightgray;
    background: whitesmoke;
}

#main {
    grid-area: 2 / 2 / 3 / 3;
    background: whitesmoke;

    #split {
        display: grid;
        grid-template: 1fr / 11em 1fr;
        
        #sidebar {
            grid-area: 1 / 1 / 2 / 2;
            border-right: 1px solid lightgray;
            background: slategray;

            h2 {
                text-align: center;                
            }

            li a {
                color: black;
                text-decoration-style: -moz-none;
            }
            li.current {
                font-weight: bold;
            }    
            li.previous {
                color: #505050;
                a {
                    color: #505050;
                }
            }
        }
        #content {
            grid-area: 1 / 2 / 2 / 3;
            background: whitesmoke;

            .button {
                appearance: button;
                -moz-appearance: button;

                text-decoration: none;
                color: initial;
                padding: 0.2em;
            }
            .next {
                float: left;
            }
            .prev {
                float: right;
            }
        }
    }

    img {
        max-width: 100%;
    }
}

#footer {
    grid-area: 3 / 2 / 4 / 3;
    border-top: 1px solid lightgray;
    background: whitesmoke;
}

.textcontainer {
    padding: 1em;
}