body {
    background-color: brown;
    color: #272727;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto 0 auto;
    max-width: 960px;
    background-color: whitesmoke;
    padding: 1em 0 1em 0;
}