body {
    margin: 0;
    background-color: #624a2e;
    color: #272727;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto 0 auto;
    max-width: 960px;
    background-color: whitesmoke;
    padding: 1em 0 1em 0;
    /* box-shadow: 0 0 1em .1em; */
}

#oldheader {
    position: sticky;
    top: 0;
    border-bottom: 1px double lightgray;
    z-index: 100;

    a {
        text-transform: uppercase;
    }
}

.banner {
    a {
        display: inline-block;
        width: 11em;
        text-align: center;
        text-decoration: none;
    }
}

#footer {
    border-top: 1px double lightgray;
}