.title {
    text-align: center;

    h1 {
        font-size:35px;
    }
    h2 {
        margin-top: -15px;
        font-size: 25px;
    }
}

/* thx https://stackoverflow.com/questions/23610151/can-you-style-ordered-list-numbers */
ol {
    list-style: none;
    counter-reset: item;

    li {
        counter-increment: item;
        position: relative;
        padding-left: 4em;

        p:first-of-type {
            font-size: 2em;
        }
    }
    li:before {
        content: counter(item);
        position: absolute;
        margin-left: -2em;
        margin-top: -.25em;
        border-bottom: 3px double black;
        width: 1em;
        text-align: center;
        font-size: 2.5em;
    }
}

ul {
    li {
        counter-increment: none;
    }
    
    li:before {
        content: '';
        border: none;
    }
}

img {
    max-width: 700px;
    border: solid 1px gray;
    margin: 0 auto 0 auto;
}

blockquote {
    border-left: 6px double gray;
    margin-left: 0;
    padding-left: 10px;
}