---
layout: grid
chapter: _
---
<div id="split">
    <div id="sidebar">
        <ul>
            <li>I</li>
            <li>II</li>
        </ul>
    </div>
    <div id="content" class="textcontainer">
        <div>
            {% if page.next.url %}
            <a class="prev" href="{{ page.next.url }}">
                CHAPTER {{ page.next.chapter }}⬅</a>
            {% endif %}
        </div>

        {{ content }}

        <div>
            {% if page.previous.url %}
            <a class="next" href="{{ page.previous.url }}">
                ➡ CHAPTER {{ page.previous.chapter }}</a>
            {% endif %}
        </div>
    </div>
</div>