---
layout: grid
chapter: _
---
<div id="split">
    <div id="sidebar">
        <ul>
            {% for post in site.posts %}
                <li type="I" {% if page.url == post.url %}class="current"{% endif %} {% if page.chapter > post.chapter %}class="previous"{% endif %}>
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="content" class="textcontainer">
        <div>
            {% if page.next.url %}
            <a class="prev" href="{{ page.next.url }}">
                CHAPTER {{ page.next.chapter }}⬅</a>
            {% endif %}
        </div>

        {{ content }}

        <div>
            {% if page.previous.url %}
            <a class="next" href="{{ page.previous.url }}">
                ➡ CHAPTER {{ page.previous.chapter }}</a>
            {% endif %}
        </div>
    </div>
</div>