---
layout: grid
chapter: _
---
<div id="split">
    <div id="sidebar">
        <h2>Contents</h2>
        <ul>
            {% for post in site.posts %}
                <li type="I" {% if page.url == post.url %}class="current"{% endif %} {% if page.chapter > post.chapter %}class="previous"{% endif %}>
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="content" class="textcontainer">
        {% if page.next.url %}
        <a class="button next" href="{{ page.next.url }}">
            Back to <strong>CHAPTER {{ page.next.chapter }}</strong>...
        </a>
        <br>
        {% endif %}

        <div class="title">
            <h1>Chapter {{ page.chapter }}</h1>
            <h2>{{ page.title }}</h2>
        </div>

        {{ content }}

        {% if page.previous.url %}
            <a class="button prev" href="{{ page.previous.url }}">
                On to <strong>CHAPTER {{ page.previous.chapter }}</strong>!
            </a>
        {% endif %}
    </div>
</div>